{% extends 'base.html' %}

{% block title %}User Details{% endblock %}

{% block content %}
    <img src="{{ user.image_url }}"  class="rounded"  width="200px" height="200px" alt="user image">
    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
    <form class="form" action="/users/{{ user.id }}/edit">
        <button class="btn btn-primary">Edit</button>
    </form>
    <form class="form" action="/users/{{ user.id }}/delete" method="POST">
        <button class="btn btn-danger">Delete</button>
    </form>
    <h1>Posts</h1>
    <ul class="list-group">
        {% for post in posts %}
        <li class="list-group-item"><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <form action="/users/{{ user.id }}/posts/new">
        <button class="btn btn-success">Add Post</button>
    </form>
{% endblock %}