{% extends 'base.html' %}

{% block title %}Post Details{% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>
<section>{{ post.content }}</section>
<p>By {{ post.user_info.first_name }} {{ post.user_info.last_name }}</p>

{% if post.tags %}
<p>
    <b>Tags:</b>
    {% for tag in post.tags %}
    <a href="/tags/{{ tag.id }}"><i>{{ tag.name }}</i></a>
    {% endfor %}
</p>
{% endif %}
<form class="form" action="/users/{{ post.user_info.id }}">
    <button class="btn btn-primary">Cancel</button>
</form>
<form class="form" action="/posts/{{ post.id }}/edit">
    <button class="btn btn-info">Edit</button>
</form>
<form class="form" action="/posts/{{ post.id }}/delete" method="POST">
    <button class="btn btn-danger">Delete</button>
</form>
{% endblock %}