{% extends 'base.html' %}

{% block title %}Tag Details{% endblock %}

{% block content %}
    <h1>{{ tag.name }}</h1>
    <ul class="list-group">
        {% for post in tag.posts %}
        <li class="list-group-item"><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <form class="form" action="/tags/{{ tag.id }}/edit">
        <button class="btn btn-info">Edit</button>
    </form>
    <form class="form" action="/tags/{{ tag.id }}/delete" method="POST">
        <button class="btn btn-danger">Delete</button>
    </form>
{% endblock %}